.brands {

    &-row {
        height: 200px;
        text-align: center;
        align-items: center;

        .brands-one {
            transform: translate(-3px, -4px);
        }

        .brands-two {
            transform: translate(1px, 4px);
        }

        .brands-three {
            transform: translate(0, 1px);
        }

        .brands-five {
            transform: translate(1px, 1px);
        }

        .brands-six {
            transform: translate(-1px, 11px);
        }
    }
}