* {
    border: 0;
	margin:0;
	padding : 0;
}

@hover-color: #d6ba8d;
@color-333: #333;
@color-fff: #fff;
@color-595959: #595959;
@color-ccc: #ccc;
@color-faf9f9: #faf9f9;
@color-eee: #eee;
@color-92c5d9: #92c5d9;
@color-696969: #696969;
@color-ababab: #ababab;
@color-2b2b2b: #2b2b2b;
@color-efefef: #efefef;

@media only screen and (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {   
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;
    }
}

.transform (@x:-50%,@y:-50%) {
	-webkit-transform: translate(@x,@y);
	   -moz-transform: translate(@x,@y);
	    -ms-transform: translate(@x,@y);
	     -o-transform: translate(@x,@y);
	        transform: translate(@x,@y);
}

.transition (@x: 0.5s) {
	-webkit-transition: all @x;
	   -moz-transition: all @x;
	    -ms-transition: all @x;
	     -o-transition: all @x;
	        transition: all @x;
}